footer#footer(class='container-fluid')
    div(class='footer-content')
        div(class='row w-100 mx-auto')
            div(class='col-12 col-md-4 col-lg-3 col-xl-2 p-0')
                a(href='/contact' class='btn contact-btn w-100') Contact Us
        
        div(class='row w-100 mx-auto mt-2')
            div(class='mobile-social col-6 p-0 d-md-none')
                a(class='footer-social-youtube' href='https://www.youtube.com/channel/UC-IOvgPzpAmUECjKvwEHlEw' target='_blank')
                    img(src='/images/bootstrap/youtube.svg' alt="Bootstrap-youtube")
                a(class='footer-social-facebook' href='https://www.facebook.com/steward.toliver.9' target='_blank')
                    img(src='/images/bootstrap/facebook.svg' alt="Bootstrap-facebook")
            
            div(class='col-6 p-0 d-none d-md-block position-relative')
                a(class='footer-social-youtube' href='https://www.youtube.com/channel/UC-IOvgPzpAmUECjKvwEHlEw' target='_blank')
                    img(src='/images/bootstrap/youtube.svg' alt="Bootstrap-youtube")
                a(class='footer-social-facebook' href='https://www.facebook.com/steward.toliver.9' target='_blank')
                    img(src='/images/bootstrap/facebook.svg' alt="Bootstrap-facebook")

        //- section(class='footer-links col-8')
        //-     div(class='row')
        //-         //- figure(class='footer-frame')
        //-         //-     a(href='/')
        //-         //-         img(src='/images/Logo.png')
        //-         div(class='col-12')
        //-             a(href='/contact' class='btn contact-btn w-100') Contact Me
        //- section(class='footer-social col-6')
        //-     div(class='row justify-content-end')
        //-         div(class='col-1')
        //-             img(src='/images/bootstrap/youtube.svg' alt="Bootstrap-youtube")
        //-         div(class='col-1')
        //-             img(src='/images/bootstrap/facebook.svg' alt="Bootstrap-facebook")

            
