header#header(class='container-fluid')
    section(class='row w-100 mx-auto justify-content-between')
        div#brand(class='col-12 col-md-3 col-lg-6 h-100 position-relative')
                figure(class='image-frame')
                    a(href='/')
                        img(src='/images/Logo.png')
                div(class='d-none d-lg-block')
                    a(href='/')
                        h1(class='header-title d-none d-md-block') Toliver Family Ministry
        -let cls = 'links-' + pages.length
        nav(class='d-none d-md-flex col-8 col-lg-6 nav-parent ' + cls)
            div(class='nav-main')
                if target && pages.some(page => page.id == target)
                    for link in pages
                        if link.id == target
                            a(class='nav-link active' data-page=link.id href=link.url)= link.name
                        else
                            a(class='nav-link' data-page=link.id href=link.url)= link.name
                    div(class='nav-selector')
                        div(class='nav-selector-back')
                else
                    for link in pages
                        a(class='nav-link link' data-page=link.id href=link.url)= link.name

    