section#myAlert(class='')
    a(href='#' class='my-alert-back' onclick='closeMyAlert(event)')
    div(class='my-alert-box')
        div(class='row w-100 mx-auto')
            p#errorMessage Oops... Looks like your browser can't do that. You may have JavaScript disabled or your browser may be outdated.
        div(class='my-alert-but row w-100 mx-auto')
            div(class='col-8 mx-auto')
                a(href='#' class='btn mt-2 w-100' onclick='closeMyAlert(event)') OK