
section#admin(class='container w-100 home-page-section active')
    div(class='row w-100 mx-auto pt-4')
        div(class='col-md-8 mx-auto px-4')
            header
                h2 Site Admin
                hr
            div(class='text-end' style='font-size: 9pt;') Site Version: 1.99
            a(href='/admin/edit/site-intro') Edit Site Intro
            br
            a(href='/admin/edit/training-intro') Edit Training Intro
            br
            br
            a(href='/admin/updates') Updates

            div(class='row w-100 mx-auto mt-3')
                hr
                
            div(class='row w-100 mx-auto mt-3')
                div(class='col-12 col-md-3 col-lg-2 ms-auto text-center text-md-end mt-3 mt-md-0 p-0')
                    a(class='btn logout w-100' href='/admin/logout') Log Out
        
                    
                    